<div class="backdrop is-hidden footer__backdrop js-backdrop login-backdrop">
  <div id="login">
    <form class="form login-form">
      <button type="button" class="modal__close-buttonLogIn">
        <svg
          class="modal__close-icon"
          width="16"
          height="16"
          aria-label="close"
          lang="en"
        >
          <use href="./images/symbol-defs.svg#close-icon"></use>
        </svg>
      </button>
      <div class="headerAuth">
        <h1>Please Log in or Sign up</h1>
      </div>
      <div class="group">
        <input id="txtEmail" type="email" class="input" placeholder="&nbsp;" />
        <label class="label">Email</label>
        <div class="line"></div>
      </div>
      <div class="group">
        <input
          id="txtPassword"
          type="password"
          class="input"
          placeholder="&nbsp;"
        />
        <label class="label">Password</label>
        <div class="line"></div>
      </div>
      <div id="divLoginError" class="group">
        <div id="lblLoginErrorMessage" class="errorlabel">Error message</div>
      </div>
      <button id="btnLogin" type="button" class="buttonFire buttonBlue">
        Log in
      </button>
      <button id="btnSignup" type="button" class="buttonFire buttonBlue">
        Sign up
      </button>
    </form>
  </div>

  <div id="app">
    <form class="form app-form">
      <button type="button" class="modal__close-button">
        <svg
          class="modal__close-icon"
          width="16"
          height="16"
          aria-label="close"
          lang="en"
        >
          <use href="./images/symbol-defs.svg#close-icon"></use>
        </svg>
      </button>
      <div class="headerAuth">
        <h1>Welcome to Filmoteka</h1>
      </div>
      <div class="group">
        <div id="lblAuthState" class="authlabel"></div>
      </div>
      <button id="btnLogout" type="button" class="buttonFire buttonBlue">
        Log out
      </button>
    </form>
  </div>
</div>
