<footer class="page-footer">
  <div class="container">
    <div class="page-footer__content footer-content">
      <div class="footer-content__copyright">
        &copy; 2023 &VerticalSeparator; All Rights Reserved &VerticalSeparator;
      </div>
      <div class="footer-content__developers developers">
        <span>Developed with</span>
        <svg class="heart" width="14" height="13">
          <use href="./images/symbol-defs.svg#icon-heart"></use>
        </svg>
        <span>by</span>
        <a href="" class="developers__link" data-footer-open>GoIT Students</a>
      </div>
    </div>
  </div>
</footer>
