<header>
    <div class="header__container container">
        <nav class="navigation">
            <a href="./index.html" class="header__logo-link link"><svg class="header__logo-icon">
                <!-- <use href="./images/sprite.svg#icon-logo"></use> -->
              </svg><span class="header__logo-title">Filmoteka</span></a>

              <ul class="header__site-nav-list list">
                <li class="header__site-nav-item">
                  <a href="./index.html" class="header__site-nav-link_current link current">home</a>
                </li>
                <li class="header__site-nav-item">
                  <a href="./library.html" class="header__site-nav-link link">my library</a>
                </li>                
              </ul>

              <div class="movie-search">
                <form class="search-form">
                  <input
                    type="text"
                    class="search-form__input"
                    name="searched-movie"
                    placeholder="Movie search"
                  />
                  
                    <svg class="search-form__icon" width="12" height="12">
                      <!-- <use href="./images/sprite.svg#icon-search"></use> -->
                    </svg>

                </form>
              </div>
        </nav>
    </div>
</header>