<header>
  <section class="header-section">
    <div class="header__container container">
      <nav class="navigation">
        <a href="./index.html" class="header__logo-link link"
          ><svg class="header__logo-icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-film"></use></svg
          ><span class="header__logo-title">Filmoteka</span></a
        >

        <ul class="header__site-nav-list list">
          <li class="header__site-nav-item">
            <a href="./index.html" class="header__site-nav-link_current link"
              >home</a
            >
          </li>
          <li class="header__site-nav-item">
            <a href="./library.html" class="header__site-nav-link link"
              >my library</a
            >
          </li>
        </ul>
      </nav>

      <div class="movie-search">
        <form class="search-form">
          <input
            type="text"
            class="search-form__input"
            name="searchedMovie"
            placeholder="Movie search"
          />
          <button type="submit" class="search-form__submit-btn">
            <svg class="search-form__icon" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="error-box"><span class="error-notification"></span></div>
    </div>
  </section>
</header>
