<header>
    <div class="header__container container">
        <nav class="navigation">
            <a href="./index.html" class="header__logo-link link"><svg class="header__logo-icon">
                <!-- <use href="./images/sprite.svg#icon-logo"></use> -->
              </svg><span class="header__logo-title">Filmoteka</span></a>

              <ul class="header__site-nav-list list">
                <li class="header__site-nav-item">
                  <a href="./index.html" class="header__site-nav-link link">home</a>
                </li>
                <li class="header__site-nav-item">
                  <a href="./library.html" class="header__site-nav-link_current link">my library</a>
                </li>                
              </ul>

              <div class="filter-buttons">
                <button type="button" class="filter__watched-btn button">Watched</button>
                <button type="button" class="filter__queue-btn button">Queue</button>                
              </div>
        </nav>
    </div>
</header>