<header>
  <section id="header__section_library">
    <div class="header__container container">
      <nav class="navigation">
        <a href="./index.html" class="header__logo-link link"
          ><svg class="header__logo-icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-film"></use></svg
          ><span class="header__logo-title">Filmoteka</span></a
        >
        <button id="theme-switch-button">
          <svg class="theme-icon" width="24" height="24">
            <use id="sun" href="./images/symbol-defs.svg#sun"></use>
            <use id="moon" href="./images/symbol-defs.svg#moon"></use>
          </svg>
        </button>

        <ul class="header__site-nav-list list">
          <li class="header__site-nav-item">
            <a href="./index.html" class="header__site-nav-link link">home</a>
          </li>
          <li class="header__site-nav-item">
            <a href="./library.html" class="header__site-nav-link_current link"
              >my library</a
            >
          </li>
        </ul>
      </nav>

      <ul class="library-buttons__list">
        <li library-buttons__list-item>
          <button type="button" class="library__watched-btn button">
            Watched
          </button>
        </li>
        <li library-buttons__list-item>
          <button type="button" class="library__queue-btn button">Queue</button>
        </li>
      </ul>
    </div>
  </section>
</header>
