<div class="trending-movies container">
  <h1 class="visually-hidden">Main Filmoteka</h1>
  <ul class="trending-movies__list"></ul>
  <!-- <ul class="trending-movies__list">
    <li class="trending-movie__card">
      <img
        class="trending-movie__img"
        src="https://image.tmdb.org/t/p/w500${poster_path}"
        alt="${title}"
        loading="lazy"
      />
      <div class="movie-card__wrp">
        <p class="movie-card__title">
          ${title.toUpperCase()} <br />
          <span class="movie-card__info">${getGenres}</span>
        </p>
      </div>
    </li>
  </ul> -->
  <div id="pagination" class="tui-pagination"></div>
</div>
