#header__section_library {
  background-color: #000000;
  background-image: 
  //   linear-gradient(
  //       to right,
  //       rgba(0, 0, 0, 0.56),
  //       rgba(0, 0, 0, 0.56)
  //     ),
    url(../images/header-library-bg-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: 
      // linear-gradient(
      //     to right,
      //     rgba(0, 0, 0, 0.56),
      //     rgba(0, 0, 0, 0.56)
      //   ),
      url('../images/header-library-bg-mobile@2x.jpg');
  }

  // tablet background

  @media screen and (min-width: 768px) {
    background-image: 
    //   linear-gradient(
    //       to right,
    //       rgba(0, 0, 0, 0.56),
    //       rgba(0, 0, 0, 0.56)
    //     ),
      url('../images/header-library-bg-tablet@1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: 
      // linear-gradient(
      //     to right,
      //     rgba(0, 0, 0, 0.56),
      //     rgba(0, 0, 0, 0.56)
      //   ),
      url('../images/header-library-bg-tablet@2x.jpg');
  }

  // desktop background

  @media screen and (min-width: 1280px) {
    background-image: 
      // linear-gradient(
      //     to right,
      //     rgba(0, 0, 0, 0.56),
      //     rgba(0, 0, 0, 0.56)
      //   ),
      url('../images/header-library-bg-desktop@1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: 
      // linear-gradient(
      //     to right,
      //     rgba(0, 0, 0, 0.56),
      //     rgba(0, 0, 0, 0.56)
      //   ),
      url('../images/header-library-bg-desktop@2x.jpg');
  }
}

.library-buttons__list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    gap: 32px;
    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    gap: 16px;
  }
}
