.trending-movies__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  list-style: none;
  padding-bottom: 20px;
}
.trending-movie__card {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  transition: var(--transition-dur-and-func);
}
.trending-movie__card:hover,
.trending-movie__card:focus {
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1), 0px 3px 4px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  // box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
  //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transform: scale(1.03);
}
.trending-movie__img {
  width: 280px;
  height: 398px;
}
.wrapper {
  padding: 10px;
}
.movie-card__title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 13px;
  color: var(--text-dark);
  margin-bottom: 4px;
}
.movie-card__wrp {
  display: flex;
  align-items: center;
}
.movie-card__genre-wrp {
  position: relative;
}
.movie-card__genre {
  margin-right: 14px;
}
.movie-card__genre::after {
  position: absolute;
  content: '';
  border-radius: 2px;
  background-color: var(--accent);
  width: 1px;
  height: 9px;
  margin-left: 7px;
  top: 2px;
}
.card-info {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 11px;
  line-height: 1.33;
  color: var(--accent);
}
.rating-wrapper {
  margin-left: auto;
}
.movie-card__rating-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 20px;
  background-color: var(--accent);
  border-radius: 5px;
}
.movie-card__rating {
  color: #fff;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
}
@media screen and (min-width: 768px) {
  .trending-movies__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .trending-movie__card {
    width: 336px;
    height: 535px;
  }
  .trending-movie__img {
    width: 336px;
    height: 455px;
  }
  .movie-card__title {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1.33;
    margin-bottom: 0;
    height: 40px;
  }
  .movie-card__wrp {
    height: 22px;
  }
  .card-info {
    font-size: 12px;
  }
  .movie-card__genre {
    margin-right: 16px;
  }
  .movie-card__genre::after {
    height: 11px;
    top: 2px;
    margin-left: 8px;
  }
  .movie-card__rating-wrp {
    width: 38px;
    height: 22px;
  }
  .movie-card__rating {
    font-size: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .trending-movies__list {
    gap: 15px;
  }
  .trending-movie__card {
    width: 394px;
    height: 662px;
  }
  .trending-movie__img {
    width: 394px;
    height: 574px;
  }
  .movie-card__wrp {
    height: 28px;
  }
  .movie-card__genre::after {
    width: 2px;
    height: 12px;
    top: 1px;
  }
  .movie-card__title {
    font-size: 16px;
    line-height: 1.2;
  }
  .card-info {
    font-size: 14px;
    line-height: 1.2;
  }
  .movie-card__rating-wrp {
    width: 48px;
    height: 28px;
  }
  .movie-card__rating {
    font-size: 15px;
  }
}

.movie-amount-notification {
  padding: 10px 5px;
}

body.dark-theme {
  .wrapper {
    background-color: #333;
  }
  .movie-card__title {
    color: var(--text-light);
  }
}
