body {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.dark-theme {
  background-color: var(--text-footer);
}

.navigation {
  position: relative;
}

#theme-switch-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  transform: translate(25px, 75px);
}

.theme-icon {
  background-color: transparent;
}

#sun {
  transform: rotate(0);
  fill: var(--accent);
  transition: transform 0.5s ease-in-out;
}

.dark-theme #sun {
  transform: rotate(180deg);
}

#moon {
  transform: rotate(-180deg);
  fill: var(--background-main);
  transition: transform 0.5s ease-in-out;
}

.dark-theme #moon {
  transform: rotate(0);
}
