:root {
    --var-bgcolor: #fff;
    --var-fontcolor: #000;
  }
  [dark] {
    --var-bgcolor: #333;
    --var-fontcolor: #eee;
  }
  body {
    background-color: var(--var-bgcolor);
    color: var(--var-fontcolor);
  }